<div class = "jumbotron">
  <div class = "row">
    <div class= "col-md-4"> 
      <img src="http://www.winecoastcountry.com/images/assets/eat/Creeky_Tiki.jpg" width="300" height="300">
    </div>
    <div class ="col-xs-12 col-md-8">
      <div class = "home-btns">
        <h2> TikiWiki</h2>
        <% if current_user %>
          <h3> Welcome <%= current_user.email %>! </h3> 
          <%= link_to "My Wikis", wikis_path, class: 'btn btn-success
          btn-lg'%>
        <% else %>
            <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success btn-lg' %> or 
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info btn-lg" %>
          <% end %>

      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <div class= "plans">
        <h2>Free Plan</h2>
        <p>Create as many public wikis as you want</p>
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info btn-lg" %>
      </div>

    </div>
    <div class="col-md-6">
      <div class= "plans">
        <h2>Premium Plan</h2>
        <p>Create private wikis</p>
         <%= link_to "Go Premium", new_charge_path, class: "btn btn-info btn-lg" %>
        </div>
      </div>
      

