<h1><%= markdown @wiki.subject %></h1>


<%= render partial: 'form', locals: { wiki: @wiki, user: @user} %>


 <%= form_tag("/wikis/#{@wiki.id}/add_collaborator", method: "post") do %>
  <%= label_tag(:user_id, "User id:") %>
  <%= text_field_tag(:user_id) %>
  <%= submit_tag("Add collaborator") %>
<% end %>

 <%= form_tag("/wikis/#{@wiki.id}/remove_collaborator", method: "post") do %>
  <%= label_tag(:user_id, "User id:") %>
  <%= text_field_tag :user_id %>
  <%= submit_tag("Remove collaborator") %>
<% end %>

