<h1><%= markdown @wiki.subject %></h1>

<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>

<%= markdown @wiki.body %> 

<% @posts.each do |post| %>
<%= post.body %>
<% end %>

 <%= form_for [@wiki, @post] do |f| %>
     <%= f.text_field :body, placeholder: "add text" %>
     <%= f.submit "add", class: 'btn btn-success' %>
  <% end %>

<%= render partial: 'collaborators/collaborator', locals: { wiki: @wiki, user: @user } %>



   

     