<div class="row">
  <div class="col-xs-6">
    <%=  @wiki.body %> 
      <% @posts.each do |post| %>
      <%= post.body %> 
    <% end %>
  </div>

  <div class="col-xs-6">
   <%= form_for [@wiki, @post] do |f| %>
   <%= f.text_area :body, rows: 6, class: 'form-control', placeholder: "Add to Wiki" %>
      <%= f.submit "add", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>